@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s ease;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    max-width: 120rem;
    font-style: normal;
    cursor:default;
}


body{
    background-color: #ead1d5;
}

.VPNfeatureContainer1{
    height: 100%;
    
}

.VPNfeatureContainer1 h1{
    text-align: center;
}

.VPNfeature1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 80%;
    border-radius: 20px;
    margin-top: 4rem;
    padding: 60px 20px !important;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.VPNimage1{
    width: 200px;
}

.VPNimage1 img{
    width: 100%;
    height: 100%;
    filter: grayscale(5);
}

.VPNfeature1{
    padding: 20px;
}

.VPNfeature1 .VPNcontent1{
    width: 50vh;
}

.VPNcontent1 p{
    margin-bottom: 2rem;
}


.VPNCardsContainer{
    height: 100vh;
    padding-top: 7rem;
}



.VPNCards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5rem 1rem;
}

.VPNCardsContainer h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 3rem;
}

.VPNimage{
    width: 200px;
    height: 200px;
}



.VPNimage img{
    width: 100%;
    height: 100%;
}

.VPNcard{
    width: 400px;
    height: 400px;
    background-color: #fff;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    margin: 1rem;
    color: rgb(160, 158, 158);
}

.VPNcard:hover{
    color: #000;
    
}

.VPNcardContent{
    padding-top: 7px;
}


.btn{
    background: #f0bda2;
    padding: 15px 20px;
    text-decoration: none;
    color: black;
    font-weight: 1000;
    cursor: pointer !important;
}

section{
    margin-top: 4rem;
    margin-bottom: 4rem;
}