@tailwind utilities;
@tailwind base;
@tailwind components;

body { background-image: radial-gradient(#ddd 1px, transparent 0), radial-gradient(#ddd 1px, transparent 0); background-position: 0 0, 25px 25px; background-size: 50px 50px; } .dark body { background-image: radial-gradient(#333 1px, transparent 0), radial-gradient(#333 1px, transparent 0); } 


@layer components {
  .inp-secondary {
    @apply border-solid border-[1px] border-green-400 bg-transparent  pt-2 pb-2 md:pt-1 md:pb-1 lg:py-2 pl-3 rounded-md text-white;
  }
}

.index-bg{
  background-color: #111111;
  background-image: radial-gradient(#2d2d2d 1px, transparent 0), radial-gradient(#373636 1px, transparent 0); 
  background-position: 0 0, 25px 25px; background-size: 50px 50px; 
}

.green-gradient{
  background: rgba(126, 231, 135, 0.54);
  filter: blur(138.5px);
  width: 234px;
  height: 234px;
}

.docs-search > span {
  width: 100%;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header span {
  display: inline-block;
}
.algolia-autocomplete .ds-dropdown-menu {
  width: 500px;
  min-width: 300px;
  max-width: calc(100vw - 50px);
}

[data-reach-skip-link] {
  @apply sr-only;
}

[data-reach-skip-link]:focus {
  @apply not-sr-only fixed ml-6 top-0 bg-white text-lg px-6 py-2 mt-2 outline-none focus:ring z-50;
}

code {
  @apply text-sm;
}

.prism-code.language-diff .inserted.prefix,
.prism-code.language-diff .deleted.prefix {
  user-select: none;
  @apply opacity-30;
}

.prism-code.language-diff .inserted.line {
  @apply text-green-600;
}
.prism-code.language-diff .deleted.line {
  @apply text-red-600;
}

/* Hack to make the TOC links look better by adjusting kerning */
article > main + div a.font-semibold {
  font-weight: 500;
  letter-spacing: -0.01rem;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

.dark .docs-container select {
  background: rgba(17, 17, 17, 1);
}

.btn-copy:active{
  scale: 0.95;
}

.image:hover{
  transform: translateY(-0.25rem)
}

.phone{
  transform: scale(1.1);
}

/* For Form Checkbox component */
.checkmark{
  position: absolute;
  top: -1px;
  left: -1px;
}

/* For Form choose file component */
#file_input_dark::file-selector-button{
  background-color: transparent;
  border: none;
  color: white;
}

/* For Form choose file component */
#file_input_light::file-selector-button{
  background-color: transparent;
  border: none;
  color: black;
}

