@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	background: rgb(244,244,244);
	color: black;
	text-align: center;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
	background-color: rgb(255, 255, 255);
	margin: 0 auto;
	padding: 20px;
	min-width: 250px;
	max-width: 500px;
	user-select: none;
}

.time {
	font-size: 2rem;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px 5px 0;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 15px;
  background-color: #51f199;
  color: #fff;
	cursor: pointer;
	outline: none;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
}

button:active {
	transform: scale(0.98);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}
